
<div class="container">
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-success btn-lg mr-2" routerLink="/create-quiz" routerLinkActive='active'>Create Event</button>
                </div>
            </th>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-success btn-lg mr-2" routerLink="/view-quiz" routerLinkActive='active'>View Event</button>
                </div>
            </th>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-success btn-lg mr-2" routerLink="/edit-quiz" routerLinkActive='active'>Edit Event</button>
                </div>
            </th>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-success btn-lg mr-2" routerLink="/delete-quiz" routerLinkActive='active'>Delete Event</button>
                </div>
            </th>
          </tr>
        </thead>
        </table>
</div>