
<div class="container">
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-warning btn-lg mr-2" routerLink="/register" routerLinkActive='active'>Create User</button>
                </div>
            </th>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-warning btn-lg mr-2" routerLink="/members-details" routerLinkActive='active'>View User</button>
                </div>
            </th>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-warning btn-lg mr-2" routerLink="/edit-user" routerLinkActive='active'>Edit User</button>
                </div>
            </th>
            <th scope="col">
                <div class="text-center">
                    <button  class="btn btn-warning btn-lg mr-2" routerLink="/delete-user" routerLinkActive='active'>Delete User</button>
                </div>
            </th>
          </tr>
        </thead>
        </table>
</div>